@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 230 0 35;
		--color-primary-hover: 173 8 27;
		--color-dark: 17 17 17;
		--color-light: 239 239 239;
		--color-light-hover: 215 215 215;
		--color-muted: 113 113 113;
	}
}

@layer components {
	@import './components/Buttons.css';
	@import './components/Header.css';
	@import './components/Cards.css';
}
